@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

::-webkit-scrollbar-track {
 box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
 border-radius: 10px;
 background-color: #000000;
}

::-webkit-scrollbar {
 width: 10px;
 background-color: #000000;
}

::-webkit-scrollbar-thumb {
 border-radius: 10px;
 box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
 background-color: #474747;
}

body {
 color: white;
 background-color: black;
 font-family: 'Spartan', sans-serif;
}

nav {
 z-index: 10;
 position: fixed;
 width: 100%;
 height: 18vh;
 display: flex;
 justify-content: space-between;
 align-items: center;
 transition: all 250ms ease-in-out;
}

nav.scrolled {
 align-items: flex-end;
 height: 10vh;
 background-color: #000000;
}

nav .logo {
 margin-left: 5%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: all 250ms ease-in-out;
}

nav .logo h1 {
 font-family: 'Righteous', sans-serif;
 font-size: 65px;
 transition: all 250ms ease-in-out;
}

nav .logo h1 a {
 text-decoration: none;
 color: white;
}

.logo h1:hover {
 animation: 1s glitch ease-in-out;
 box-shadow: none;
}

nav.scrolled .logo h1 {
 font-size: 35px;
}

nav .nav-links {
 margin-right: 5%;
 height: 100%;
 width: 30%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

nav .nav-links a {
 text-decoration: none;
 color: #cccccca6;
 transition: all 250ms ease-in-out;
 padding: 8px 22px;
}

nav .nav-links a:hover {
 color: #fff;
}

.imp {
 color: white !important;
 border: 2px solid rgba(0, 0, 0, 0);
 border-top-color: rgba(0, 0, 0, 0);
 border-top-left-radius: none;
 border-bottom-color: rgba(0, 0, 0, 0);
 border-bottom-right-radius: none;
}

.imp:hover {
 color: black !important;
 background: white;
 border: 2px solid white;
 border-top-color: white;
 border-bottom-color: white;
 border-top-left-radius: 15px;
 border-top-right-radius: 5px;
 border-bottom-right-radius: 15px;
 border-bottom-left-radius: 5px;
}

.extra-spacing {
 width: 100%;
 height: 10vh;
}

.home-section {
 width: 100%;
 height: 90vh;
 display: flex;
}

.home-section .img-section {
 width: 50%;
 height: 100%;
}

.home-section .img-section .img-container {
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}
.home-section .img-section .img-container img {
 width: 90%;
 height: 70%;
 object-fit: cover;
 animation: floating 4s ease-in-out infinite;
}

.home-section .intro-section {
 width: 50%;
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
}

.intro-section .self-intro {
 width: 100%;
 height: 15vh;
 position: relative;
}

.intro-section .self-intro .hi {
 position: absolute;
 left: 28%;
 top: -15%;
}

.intro-section .self-intro h1 {
 font-size: 45px;
 text-align: center;
 margin-top: 10px;
}

.intro-section .desc {
 width: 100%;
 height: 8vh;
 display: flex;
 justify-content: center;
 align-items: flex-end;
 position: relative;
}

.desc .and {
 position: absolute;
 top: 10%;
 left: 34%;
}

.intro-section .skills {
 width: 100%;
 height: 40vh;
}

.intro-section .skills .header-skills {
 height: 30%;
 width: 100%;
 display: flex;
 align-items: flex-end;
 justify-content: center;
 position: relative;
}

.intro-section .skills .work {
 position: absolute;
 top: 45%;
 left: 43%;
}

.intro-section .skills .all-skills {
 width: 60%;
 height: 50%;
 display: flex;
 margin: 0 auto;
 justify-content: space-around;
 align-items: center;
}

.intro-section .skills .all-skills .fab {
 font-size: 45px;
 transition: all 150ms ease-in-out;
}

.intro-section .skills .all-skills .fab:hover {
 transform: scale(1.2);
}

.fa-html5:hover {
 color: rgb(0, 153, 255);
}

.fa-css3-alt:hover {
 color: rgb(255, 136, 0);
}

.fa-js-square:hover {
 color: rgb(255, 251, 0);
}

.fa-node:hover {
 color: green;
}

.fa-python:hover {
 color: rgb(0, 89, 255);
}

/* * all theb keyframes */
@keyframes glitch {
 0% {
  text-shadow: 5px 2px red, -5px -2px aqua;
 }
 12% {
  text-shadow: none;
 }
 25% {
  text-shadow: 7px 2px red, -5px -2px aqua;
 }
 36% {
  text-shadow: 5px 2px red, -5px -2px aqua;
 }
 50% {
  text-shadow: 8px 2px red, -8px -2px aqua;
 }
 62% {
  text-shadow: 5px 2px red, -8px -2px aqua;
 }
 75% {
  text-shadow: 4px 2px red, -5px -2px aqua;
 }
 80% {
  text-shadow: 5px 2px red, -4px -2px aqua;
 }
 85% {
  text-shadow: 5px 2px red, -8px -2px aqua;
 }
 85% {
  text-shadow: 2px 1px red, -3px -1px aqua;
 }
 95% {
  text-shadow: 1px 1px red, -1px -1px aqua;
 }
 100% {
  text-shadow: 0px 0px red, -0px -0px aqua;
 }
}

@keyframes floating {
 0% {
  transform: translate(0, 0px);
 }
 50% {
  transform: translate(0, 15px);
 }
 100% {
  transform: translate(0, -0px);
 }
}
