@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

body.dark {
  --bg-color: #1b1b1d;
  --text-color: rgba(255, 255, 255, 0.897);
  --diff-color: var(--text-color);
  --nav-bg: var(--bg-color);
  --pro-bg: #429e9d;
  --pro-text: white;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body.light {
  --bg-color: #edf8fc;
  --text-color: rgba(0, 0, 0, 0.897);
  --diff-color: var(--text-color);
  --nav-bg: var(--bg-color);
  --pro-bg: #000000;
  --pro-text: white;
  background-color: var(--bg-color);
  color: var(--text-color);
}

nav {
  top: 0;
  position: fixed;
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10rem;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

nav.scrolled {
  background: var(--nav-bg);
  z-index: 10;
  height: 12vh;
}

nav .logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  font-size: 35px;
  font-family: 'Righteous', cursive;
}

nav .nav-links {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-links a {
  color: inherit;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  z-index: 1;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-links a::before, nav .nav-links a::after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5px;
  background-color: var(--text-color);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

nav .nav-links a:hover::before, nav .nav-links a:hover::after {
  height: 1.5px;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
}

nav .nav-links #theme {
  color: inherit;
  font-size: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

main section {
  display: block;
  width: 100%;
  height: 100vh;
  padding: 5rem 10rem;
}

main .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .home .hero {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .home .hero .text {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .home .hero .text .text-container {
  width: 85%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .home .hero .text .text-container p {
  font-size: 22px;
  height: 2vh;
  font-weight: bold;
}

main .home .hero .text .text-container h2 {
  font-size: 20px;
  height: 20vh;
  width: 80%;
  line-height: 35px;
  font-weight: 400;
}

main .home .hero .text .text-container .cta {
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

main .home .hero .text .text-container .cta a {
  text-decoration: none;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 0.8rem;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

main .home .hero .text .text-container .cta a.cta1:hover {
  background-color: var(--diff-color);
  color: var(--bg-color);
}

main .home .hero .text .text-container .cta a.cta2 {
  background-color: var(--diff-color);
  color: var(--bg-color);
}

main .home .hero .photo {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .home .hero .photo .card-profile {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .home .hero .photo .card-profile img {
  width: 80%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .life {
  height: 100vh;
}

main .life .spacing {
  width: 100%;
  height: 10vh;
}

main .life .all-life {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

main .life .all-life .img-section {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .life .all-life .img-section .header {
  width: 100%;
  height: 10vh;
}

main .life .all-life .img-section .header h1 {
  font-size: 60px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

main .life .all-life .img-section .img-cont {
  width: 100%;
  height: 60%;
}

main .life .all-life .img-section .img-cont img {
  width: 100%;
  height: 100%;
}

main .life .all-life .story {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .life .all-life .story > div {
  height: 18vh;
  width: 90%;
}

main .life .all-life .story > div p {
  line-height: 3vh;
}

main .work {
  height: 250vh;
}

main .work .header {
  width: 100%;
  height: 10vh;
  font-size: 28px;
  text-align: center;
}

main .card-projects {
  width: 100%;
  height: 230vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .card-projects .card-line {
  padding-top: 5vh;
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

main .card-projects .card-line .card {
  width: 80%;
  height: 40vh;
  border: 1px solid var(--text-color);
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */