@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*,
*::before,
*::after {
 box-sizing: border-box;
 scroll-behavior: smooth;
}

body {
 padding: 0;
 margin: 0;
 font-family: 'Ubuntu', sans-serif;
 transition: all 0.75s ease-in-out;

 &.dark {
  --bg-color: #1b1b1d;
  --text-color: rgba(255, 255, 255, 0.897);
  --diff-color: var(--text-color);
  --nav-bg: var(--bg-color);

  background-color: var(--bg-color);
  color: var(--text-color);
 }

 &.light {
  --bg-color: #edf8fc;
  --text-color: rgba(0, 0, 0, 0.897);

  background-color: var(--bg-color);
  color: var(--text-color);
 }
}

nav {
 top: 0;
 position: fixed;
 width: 100%;
 height: 10vh;
 display: flex;
 justify-content: space-around;
 transition: all 0.25s ease-out;

 &.scrolled {
  background: var(--nav-bg);
  z-index: 10;
  height: 12vh;
 }

 .logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
   color: inherit;
   text-decoration: none;
   font-weight: bold;
   font-size: 35px;
   font-family: 'Righteous', cursive;
  }
 }

 .nav-links {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
   color: inherit;
   text-decoration: none;
   font-size: 17px;
   position: relative;
   z-index: 1;
   padding: 8px;
   display: flex;
   justify-content: center;
   align-items: center;

   &::before,
   &::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5px;
    background-color: var(--text-color);
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
   }

   &:hover::before,
   &:hover::after {
    height: 1px;
    transform: scaleX(1);
   }
  }

  #theme {
   color: inherit;
   font-size: 21px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
  }
 }
}

main {
 section {
  display: block;
  width: 100%;
  height: 100vh;
  padding: 5rem 5rem;
 }
}
